[Unit]
Description=AquaMan
Documentation=https://example.com
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=aquaman
ExecStart={{npm_config_prefix}}/bin/nodemon /home/aquaman/core/src/server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target